<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="theme-base-0d">
{% include sidebar.html %}
<div class="content container">
    {{ content }}
</div>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="{{ site.baseurl }}public/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
-->

<script>
    var cb = function () {
        var l = document.createElement('link');
        l.rel = 'stylesheet';
        l.href = '{{ site.baseurl }}public/css/styles.min.css';
        var h = document.getElementsByTagName('head')[0];
        h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
</script>

</body>
</html>
